
body{
    max-width: 100%;
    padding: 20px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0 auto;
    background-image: url(../assets/image/Vector_2646.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

header{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.nav-list ul>a>li{
    display: inline-block;
    margin: 20px;
    color: rgb(123, 199, 243);
    flex-direction: row;
    text-shadow: 2px 2px 2px black;
}

section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}

h1{
    font-size: 100px;
    font-weight: 100;
    color: rgb(255, 1, 179);
    text-shadow: 5px 5px 5px rgb(0, 0, 0);
    margin-left: 100px;
}

.body-list{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.body-list ul>a>li{
    display: block;
    margin-top: 10px;
    padding-right: 70px;
    font-size: 20px;
    font-weight: 50;
    color: rgb(154, 210, 210);
    text-shadow: 2px 2px 2px black;
    text-align: center;

}

a{
    text-decoration: none;
}